<div class="page-template">
<div class="container container--narrow">
<div class="page-header" data-animate="fade-up">
<h1>Your Addresses</h1>
</div>
<div data-animate="fade-up">
<button type="button" class="btn btn--primary mb-2" data-toggle-address="add-address">Add New Address</button>
<div id="add-address" class="acct-card acct-card--lg mb-2" style="display:none">
{% form 'customer_address', customer.new_address %}
<h3 class="mb-2">New Address</h3>
<div class="grid grid--2">
<div class="form-group">
<label class="form-label">First Name</label>
<input class="form-input" type="text" name="address[first_name]">
</div>
<div class="form-group">
<label class="form-label">Last Name</label>
<input class="form-input" type="text" name="address[last_name]">
</div>
</div>
<div class="form-group">
<label class="form-label">Address</label>
<input class="form-input" type="text" name="address[address1]">
</div>
<div class="form-group">
<label class="form-label">Apartment, Suite, etc.</label>
<input class="form-input" type="text" name="address[address2]">
</div>
<div class="grid grid--2">
<div class="form-group">
<label class="form-label">City</label>
<input class="form-input" type="text" name="address[city]">
</div>
<div class="form-group">
<label class="form-label">Zip / Postal Code</label>
<input class="form-input" type="text" name="address[zip]">
</div>
</div>
<div class="form-group">
<label class="form-label">Country</label>
<select class="form-input" name="address[country]">{{ all_country_option_tags }}</select>
</div>
<div class="form-group">
<label class="form-label">Province / State</label>
<select class="form-input" name="address[province]"></select>
</div>
<div class="form-group">
<label class="form-label">Phone</label>
<input class="form-input" type="tel" name="address[phone]">
</div>
<div class="form-actions">
<button type="submit" class="btn btn--primary ripple-effect">Save Address</button>
<button type="button" class="btn btn--secondary" data-toggle-address="add-address">Cancel</button>
</div>
{% endform %}
</div>
{% for address in customer.addresses %}
<div class="acct-card">
{% if address == customer.default_address %}
<span class="acct-badge">Default</span>
{% endif %}
<p class="acct-card__bold">{{ address.first_name }} {{ address.last_name }}</p>
<p class="acct-addr">
{{ address.address1 }}{% if address.address2 != blank %}, {{ address.address2 }}{% endif %}<br>
{{ address.city }}, {{ address.province }} {{ address.zip }}<br>
{{ address.country }}
</p>
</div>
{% endfor %}
<div class="mt-2">
<a href="/account" class="btn btn--secondary">&larr; Back to Account</a>
</div>
</div>
</div>
</div>